#counter{
    font-size: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0%;
}
.btn_container{
    text-align: center;
}
button{
    padding: 10px;
    margin: 5px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 1px ;
    font-size: 50px;
    transition: background-color 250ms;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: blue;

}